//colors
$color-primary: #007bff;
$color-black-900: #021B33;
$color-black-800: #334155;
$color-black-700: #475569;
$color-black-600: #64748B;
$color-black-500: #94A3B8;
$color-black-400: #CBD5E1;
$color-black-300: #E2E8F0;
$color-black-200: #F1F5F9;
$color-black-100: #FAFCFF;
$color-white: #ffffff;

//shadows
$shadow-1: 0px 10px 20px rgba(0, 0, 0, 0.1);
$shadow-2: 0px 6px 6px rgba(0, 0, 0, 0.06);
$shadow-3: 0px 2px 3px rgba(0, 0, 0, 0.1);

//spacing
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;